IKitchen/Service References/Store/Store1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="buy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deliveryDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="products" type="tns:ArrayOfCartItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCartItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CartItem" nillable="true" type="tns:CartItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CartItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="buyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="buyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="buySoapIn">
    <wsdl:part name="parameters" element="tns:buy" />
  </wsdl:message>
  <wsdl:message name="buySoapOut">
    <wsdl:part name="parameters" element="tns:buyResponse" />
  </wsdl:message>
  <wsdl:portType name="StoreSoap">
    <wsdl:operation name="buy">
      <wsdl:input message="tns:buySoapIn" />
      <wsdl:output message="tns:buySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoreSoap" type="tns:StoreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buy">
      <soap:operation soapAction="http://tempuri.org/buy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StoreSoap12" type="tns:StoreSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buy">
      <soap12:operation soapAction="http://tempuri.org/buy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Store">
    <wsdl:port name="StoreSoap" binding="tns:StoreSoap">
      <soap:address location="http://ikitchenws.azurewebsites.net/Store.asmx" />
    </wsdl:port>
    <wsdl:port name="StoreSoap12" binding="tns:StoreSoap12">
      <soap12:address location="http://ikitchenws.azurewebsites.net/Store.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>