IKitchen/Service References/Products/Products.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getItemResult" type="tns:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="installPrice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="imgURL" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getItemSoapIn">
    <wsdl:part name="parameters" element="tns:getItem" />
  </wsdl:message>
  <wsdl:message name="getItemSoapOut">
    <wsdl:part name="parameters" element="tns:getItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductsSoap">
    <wsdl:operation name="getItem">
      <wsdl:input message="tns:getItemSoapIn" />
      <wsdl:output message="tns:getItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductsSoap" type="tns:ProductsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getItem">
      <soap:operation soapAction="http://tempuri.org/getItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductsSoap12" type="tns:ProductsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getItem">
      <soap12:operation soapAction="http://tempuri.org/getItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Products">
    <wsdl:port name="ProductsSoap" binding="tns:ProductsSoap">
      <soap:address location="http://localhost:21284/Products.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductsSoap12" binding="tns:ProductsSoap12">
      <soap12:address location="http://localhost:21284/Products.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>