IKitchen/Service References/Convertor/Convertor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="convert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="convertResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="convertSoapIn">
    <wsdl:part name="parameters" element="tns:convert" />
  </wsdl:message>
  <wsdl:message name="convertSoapOut">
    <wsdl:part name="parameters" element="tns:convertResponse" />
  </wsdl:message>
  <wsdl:portType name="ConvertorSoap">
    <wsdl:operation name="convert">
      <wsdl:input message="tns:convertSoapIn" />
      <wsdl:output message="tns:convertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConvertorSoap" type="tns:ConvertorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="convert">
      <soap:operation soapAction="http://tempuri.org/convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConvertorSoap12" type="tns:ConvertorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="convert">
      <soap12:operation soapAction="http://tempuri.org/convert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Convertor">
    <wsdl:port name="ConvertorSoap" binding="tns:ConvertorSoap">
      <soap:address location="http://localhost:21284/Convertor.asmx" />
    </wsdl:port>
    <wsdl:port name="ConvertorSoap12" binding="tns:ConvertorSoap12">
      <soap12:address location="http://localhost:21284/Convertor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>